h1{
  color: cadetblue;
  padding-top: 250px;
  font-size: 89px;
  font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Smooch', cursive;
}
h2{color: crimson;
  font-family: 'Pacifico', cursive;}
body{
  background-color: #E0EBE8;
  text-align: center;
  position: relative;
}
.cloud1{
  position: absolute;
  padding: 200px;
}
.cloud2{
  top: 50%;
  position: absolute;
}
,mountain{
  width: 50%;

}